@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Varsity Team';
  src: url('../public/assets/fonts/VarsityTeam-Bold.otf');
}

.landingImage {
  z-index: -10;
}
.landingText {
  color: white;
  font-size: 25px;
  text-shadow: 5px 5px #0000;
}
.circularImage {
  border-radius: 50%;
}